<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">"
    <title>My Awsome Company WEBSITE</title>
</head>
<body>
    <h2>WELCOME TO MY AWESOME COMPANY</h2>
    <div>
        <h3>Date of Visit: {{ today }}</h3>
        <h4>COMPANY NAME: WE AWESOME</h4>
        <h4>CEO: Samus Aran</h4>

        <h5>COMPANY LOGO</h5>
        <img src="{{ url_for('static', filename='samus.jpeg') }}" alt="samus aran picture" />
    </div>
</body>
</html>